@media all and (max-width:600px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        font-size: 10pt;
        color: #333;
    }
    header{
        position: relative;
        clear: both;
        width: 340px;
        margin: 130px;
        margin: 0 auto;
        background: #333;
    }
    /*헤더 상단 1행 전체 시작---------*/
    .header_box_all{
        position: relative;
        clear: both;
        width: 340px;
        background: rgb(243, 243, 243);
    }
    /*헤더 상단 1행(global) -left--------*/
    .header_box_all > .header_box_01{
        position: relative;
        clear: both;
        width: 340px;
        height: 50px;
        line-height: 50px;
        top: 10px;
    }
    #header_box_01_up{
        position: relative;
        clear: both;
        width: 340px;
    }
    #sec_global{
        position: relative;
        float: left;
        widtH: 170px;
        height: 30px;
        line-height: 30px;
    }
    select {
        position: relative;
        float: left;
        width: 100px;
        height: 30px;
    }
    option {
        width: 50px;
        height: 30px;
    }
    #ins_all {
        position: relative;
        float: left;
        width: 170px;
        height: 30px;
    }
    #ins_icon{
        position: relative;
        float: right;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        padding: 0px;
    }
    #header_box_01_down{
        display: none;
    }
    /*헤더 상단 1행(logo)-center--------*/
    .header_box_all > .header_box_02{
        position: relative;
        clear: both;
        width: 340px;
        height: 50px;
    }
    /*헤더 상단 1행(회원가입)-right------*/
    .header_box_all > .header_box_03 {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
        background: rgb(243, 243, 243);
    }
    #header_box_03_up {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
    }
    #txt_join, #txt_id, #txt_basket, #txt_mypage{
        position: relative;
        float: left;
        width: 85px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 0.8rem;
    }
    #header_box_03_down{
        display: none;
    }
    /*여백 삭제-------------*/
    .gap_1400_10 {
        display: none;
    }
    /*메인 메뉴 9개 시작------*/
    .main_menu_all{
        display: flex;
        flex-flow: row wrap;
        width: 340px;
        height: 90px;
        margin: 0 auto;
    }
    .main_menu_all #menu_each {
        width: 110px;
    }
    #menu_01_over:hover{
        content: url(../img/main_menu_01_02.jpg)
    }
    /* 여백 삭제------------*/
    .gap_1400_10{
        display: none;
    }
    /*메인 이미지(main_img_big)시작----*/
    .main_img_big {
        display: flex;
        flex-flow: row nowrap;
        width: 340px;
        overflow: hidden;
        content:url(../img/main_title_img_01_02.jpg);
    }
    #main_img_only{
        display: flex;
        flex-flow: row nowrap;
        transform: translate(-120px,-60px) scale(0.9);
        transition: all 2s;
    }

    /* 여백(w:1400, h:80)은 숨김-----*/
    .gap_1400_80{
        display: none;
    }
    /*여백(w:340, h:10)은 표시----*/
    .gap_m_340_10 {
        display: block;
        position: relative;
        clear: both;
        width: 100%;
        height: 10px;
        background: #ddd;
    }
    /*상단 이미지 4개 시작--*/
    section.sec_01_all{
        position: relative;
        clear: both;
        width: 340px;
        height: 1360px;
        overflow: hidden;
        margin: 0 auto;
    }
    .sec_01_all > .sec_01_box_all {
        display: flex;
        flex-flow: column nowrap;
        width: 340px;
        height: 1360px;
    }
    .sec_01_box_all > #sec_01_box_each {
        display: flex;
        flex-flow: row wrap;
        width: 340px;
        height: 340px;
    }
    #sec_01_box_each > #sec_01_box_img{
        width: 340px;
        height: 280px;
    }
    #sec_01_box_each > #sec_01_font_01{
        width: 340px;
        height: 30px;
        line-height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #sec_01_box_each > #sec_01_font_02{
        width: 340px;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
    }
    /*WEEKLY BEST 제목 시작----------*/
    .title_weekly {
        position: relative;
        clear: both;
        width: 340px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #333;
        font-size: 1.5rem;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    /* 상품 시작 -----------------*/
    section.product_row_all {
        display: flex;
        flex-flow: column nowrap;
        width: 340px;
        margin: 0 auto;
        border: 1px solid #333;
    }
    .product_row_all >.product_col_each{
        position: relative;
        clear: both;
        width:340px;
        margin-bottom: 50px;
    }
    .product_col_each > #p_box_img {
        position: relative;
        clear: both;
        width: 340px;
        
    }
    .product_col_each > #p_box_font_all{
        position: relative;
        clear: both;
        width: 340px;
        height: 110px;
    }
    #p_box_font_all > #p_box_color {
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
    }
    #p_box_font_all > #p_box_font_01{
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
        background: #fff;
    }
    #p_box_font_all > #p_box_font_02{
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 0.7rem;
        color:#f00;
        background: #fff;
    }
    #p_box_font_all > #p_box_font_03{
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 1.1rem;
        color: #333;
        background: #fff;
    }
    #p_box_font_all > #p_box_font_04{
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 1.1rem;
        background: #fff;
    }
    /*추가사항 (TREND Pick) 사진5장 화면 시작-모바일===*/
    .trend_pick_title {
        position: relative;
        width: 100%;
        height: 100px;
        margin: 20px 0px;
        font-size: 2rem;
    }
    /*trend pick 제목과 부제목 시작=======*/
    #trend_title_01 {
        position: relative;
        width: 340px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 2rem;
        color:#000;
        font-weight: bold;
        margin: 0 auto;
    }
    #trend_title_02{
        position: relative;
        width:340px;
        height:50px;
        line-height: 30px;
        text-align: center;
        font-size: 1.1rem;
        color: #666;
        margin: 0 auto;
    }
    /*좌,우 화살표 포함 이미지 5장 시작 =======*/
    .trend_pick_all {
        position: relative;
        width: 340px;
        height: 340px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
    }
    /*좌측 화살표 시작===*/
    .trend_pick_left {
        position: relative;
        width: 50px;
        height: 340px;
        display: flex;
        flex-flow: column nowrap;
      
    }
    #trend_left_arrow_01{
        position: relative;
        width: 50px;
        height: 240px;
        background: url(../img/trend_left_arrow.png);
        background-size: cover;
        background-position: center center;
    }
    #trend_left_arrow_02{
        position: relative;
        width: 50px;
        height: 100px;
    }
    /*trend pic 가운데 사진5장 시작 ===*/
    .trend_pick_center {
        position: relative;
        width: 340px;
        height: 340px;
        background: #f90;
        overflow: hidden;
    }
    #trend_img_each {
        position: relative;
        width: 240px;
        height: 340px;
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
    }
    /*상단 이미지 부분 시작=========*/
    #tbox_01 { /* 이미지 부분-240*240*/
        width: 240px;
        height: 240px;
    }
    #tbox_02 { /*의류 색상 부분 -240*20*/
        width: 240px;
        height: 20px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    #tbox_03 { /*상품 소개 멘트 부분-240*20*/
        width: 240px;
        height: 20px;
        line-height: 10px;
        font-size: 1rem;
    }
    #tbox_04 { /*의류 사이즈 부분-240*20*/
        width: 240px;
        height: 20px;
        font-size: 0.8rem;
        color: #999;
    }
    #tbox_05 { /*금액 부분-240*20*/
        width: 240px;
        height: 20px;
        font-size: 1.1rem;
        font-weight: bold;
    }
    #tbox_06 { /*아이콘 부분-240*20*/
        width: 240px;
        height: 20px;
        font-size: 0.8rem;
        text-align: right;
    }
    /*우측 화살표 시작==========*/
    .trend_pick_right {
        position: relative;
        width: 50px;
        height: 340px;
        display: flex;
        flex-flow: column nowrap;
    }
    #trend-right_arrow_01 {
        position: relative;
        width: 50px;
        height: 240px;
        background: url(../img/trend_right_arrow.png);
        background-size: cover;
        background-position: center center;
    }
    #trend_right_arrow_02 {
        position: relative;
        width: 50px;
        height: 100px;
    }
    /*중간 이미지 시작 --*/
    .middle_img{
        display: flex;
        flex-flow: row nowrap;
        width: 340px;
        height: 250px;
        overflow: hidden;
        content:url(../img/middle_img_mob.jpg);
        
    }

    /*상품 시작 ------------*/
    section.product_row_all {
        display: flex;
        flex-flow: column nowrap;
        width: 340px;
        height: 2000px;
        margin: 0 auto;
        border: 1px solid #333;
    
    }
    .product_row_all > .product_col_each {
        position: relative;
        clear: both;
        width: 340px;
       
    }
  
    .product_col_each > #p_box_img {
        position: relative;
        clear: both;
        width: 340px;
        height: 340px;
    }
    .product_col_each > #p_box_font_all {
        position: relative;
        clear: both;
        width: 340px;
        height: 110px;
    }
    #p_box_font_all > #p_box_color {
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
    }
    #p_box_font_all > #p_box_font_01{
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
        font-weight: bold;
        background: #eee;
    }
    #p_box_font_all > #p_box_font_02{
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 0.7rem;
        color: #f00;
        background: #eee;
    }
    #p_box_font_all > #p_box_font_03 {
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 1.1rem;
        font-weight: bold;
        color: #333;
        background: #eee;
    }
    #p_box_font_all > #p_box_font_04 {
        position: relative;
        clear: both;
        width: 340px;
        height: 20px;
        line-height: 20px;
        font-size: 1.1rem;
        font-weight: bold;
        color: #333;
    }
    /* footer--------------*/
    .footer_all{
        display: flex;
        flex-direction: column-reverse;
        clear: both;
        width:100%;
        height:400px;
        border-top: 0;
        border-bottom: 0;
        text-align: center;
        margin-top: 20px;
    
    }
    .footer_1, .footer_4 {
        display: none;
    }
    .footer_all > div:not(:last-child){
        border-right: 0;
        border-bottom: 0;
        height: 70%;
        width: 70%;
    }
    .footer_logo {
        order: 3;
    }
    .footer_3 {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer_2 {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    



    
    















}