*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 10pt;
    color:#333;
}
ul,ol,li{
    list-style: none;
}
header{
    position: relative;
    clear: both;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}
/*헤더 상단 1행 전체 시작-------*/
.header_box_all{
    position: relative;
    clear: both;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}
/* 헤더 상단 1행(global) - left--------*/
.header_box_all >.header_box_01{
    position: relative;
    float: left;
    width: 400px;
    height: 100px;
}
#header_box_01_up {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
    line-height: 50px;
}
#sec_global {
    position: relative;
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
}
select{
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
}
option{
    width: 50px;
    height: 30px;
}
#ins_icon{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
#header_box_01_down{
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
/*헤더 상단 1행(logo)-center-------*/
.header_box_all > .header_box_02{
    position: relative;
    float: left;
    width: 600px;
    height: 100px;
}
/*헤더 상단 1행(회원가입)- right ---------*/
.header_box_all >.header_box_03{
    position: relative;
    float: left;
    width: 400px;
    height: 100px;
}
#header_box_03_up {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
#txt_join, #txt_id, #txt_basket, #txt_mypage {
    position: relative;
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}
#header_box_03_down {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
/* 헤더 상단 1행 다음 1번째 여백시작 --*/
.gap_1400_10 {
    position: relative;
    clear: both;
    width: 100%;
    height: 10px;
    background: rgb(231, 231, 231);
}

/*메인 메뉴 9개 시작 ------*/
.main_menu_all {
    display:  flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:1400px;
    height: 30px;
    margin: 0 auto;
}
.main_menu_all #menu_each {
    width: 100%;
}
#menu_01_over:hover {
    content: url(../img/main_menu_01_02.jpg);
}
#menu_02_over:hover {
    content: url(../img/main_menu_02_02.jpg);
}
#menu_03_over:hover {
    content: url(../img/main_menu_09_02.jpg);
}
/*헤더 상단 1행 다음 2번째 여백시작 --*/
.gap_1200_10{
    position: relative;
    clear: both;
    width: 100%;
    height: 10px;
}
.main_img_big{
    display: flex;
    flex-flow: row nowrap;
    width: 1400px;
    margin: 0 auto;
}
#main_img_only{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
}
/*여백 (W:1400,h:80)은 표시 ----*/
.gap_1400_80 {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    height: 80px;
    background:  #999;
    margin: 0 auto;
}
/* 여백 (w:340, h:10)은 숨김----*/
.gap_m_340_10 {
    display: none;
}

.path_all{
    position:relative;
    clear: both;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #eee;
}
#path_01{
    position: relative;
    clear: both;
    width: 1400px;
    height: 50px;
    line-height: 50px;
    text-align: right;
}
/* 상단 상품 이미지와 설명 시작--*/
.pro_top_all{
    position: relative;
    clear: both;
    width:1400px;
    height: 650px;
    margin: 0 auto;
}
/* 이미지(좌측)시작---*/
.top_box_01{     /*좌측 이미지*/
    position: relative;
    float: left;
    width:600px;
    height: 650px;
    background: url(../img/detail_top_img_01.jpg);
}
.top_box_02{        /*중간 여백*/
    position: relative;
    float: left;
    width: 20px;
    height: 650px;
    background: #ddd;
}
.top_box_03{     /*우측 상품 설명 전체*/
    position: relative;
    float: left;
    width: 780px;
    height: 650px;
    font-size: 1.5rem;
    border-top: 1px solid #333;
}
#ment_01{   /*상품 멘트 */
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    font-weight: bold;
}
#ment_02{   /*free*/
    position: relative;
    clear: both;
    width: 780px;
    height: 20px;
    line-height: 20px;
    color:rgb(153, 153, 153);
}
#ment_03{
    position: relative;
    clear: both;
    width: 780px;
    height: 40px;
    line-height: 40px;
    background: url(../img/line_01.gif);
    background-repeat: repeat-x;
    background-position: left center;
}
#ment_04{ /* 판매가+16,500원*/
    position:relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_04_01{ /*판매가 */
position: relative;
float: left;
width: 40%;
height: 50px;
text-align: left;
}
#ment_04_02{ /*16,500원*/
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    text-align: left;
}
#ment_05{ /*적립금 + 170원*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_05_01{    /*적립금*/
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    text-align: left;
}
#ment_06{  /*기본옵션*/
    position: relative;
    clear: both;
    width: 780px;
    height: 48px;
    line-height: 48px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#ment_07{   /*색상 +드롭다운 버튼*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
    background: #fff;
}
#ment_07_01{    /*색상*/
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#ment_07_02{    /*드롭다운 버튼*/
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    line-height: 50px;
    top: 5px;
    text-align: left;
}
#ment_07_02 > select {  /*드롭다운 버튼-기본선택(초기선택값)*/
    width:200px;
    height: 30px;
    background: #ddd;
}
#ment_08{   /*사이즈+드롭다운 버튼*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_08_01 {   /*사이즈*/
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#ment_08_02{    /*드롭다운 버튼*/
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    top: 5px;
}
#ment_08_02 > select { /*사이즈-드롭다운 기본 값(배경색 회색)*/
    width: 200px;
    height: 30px;
    background: #ddd;
}
#ment_09 {  /*수평석*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
    background: url(../img/line_01.gif);
    background-repeat: left center;
}
#ment_10{ /*총금액 + 16,500원*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_10_01 { /*총금액*/
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    text-align: left;
}
#ment_10_02{ /*16,500원*/
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    text-align: left;
}
#ment_11{   /*공유하기 + 아이콘(3~4개)*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_11_01 {   /*공유하기*/
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    text-align: left;
}
#ment_11_02{ /*아이콘 */
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    text-align: left;
}
#ment_12{ /*해외배송결재 +아이콘(120x30)*/
    position: relative;
    clear: both;
    width: 780px;
    height: 50px;
    line-height: 50px;
}
#ment_12_01{    /*해외배송결제 */
    position: relative;
    float: left;
    width: 40%;
    height: 50px;
    text-align: left;
}
#ment_12_02{    /*아이콘*/
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    line-height: 50px;
}
#ment_13{ /*텍스트-♡+바로구매+장바구니*/
    position: relative;
    clear: both;
    width: 750px;       /*아래 요소 3개 margin-left: 10px; -->780px을 750px로 설정*/
    height: 50px;
    line-height: 50px;
}
#ment_13_01{ /*텍스트 -♡*/
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 5px;
    transition: all 1s;
}
#ment_13_01:hover { /*텍스트: hover-♡*/
    border: 1px solid #333;
}
#ment_13_02 {    /*바로구매*/
    position: relative;
    float: left;
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 1.5rem;
    background: #000;
    color: #fff;
    border: 1px solid #ddd;
    margin-left: 10px;
    transition: all 1s;
}
#ment_13_02:hover {    /*바로구매:hover*/
    color:#333;
    background: #fff;
    border: 1px solid #333;
}
#ment_13_03 {   /*장바구니*/
    position: relative;
    float: left;
    width:200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 1.5rem;
    background: #ddd;
    color: #fff;
    margin-left: 10px;
    border: 1px solid #fff;
    transition: all 1s;
}
#ment_13_03:hover{  /*장바구니:hover*/
    color:#333;
    background: #fff;
    border: 1px solid #333;
}
#ment_14{
    position: relative;
    clear: both;
    width: 780px;
    height: 36px;
    border-bottom: 1px solid #333;
}
/*상품 자유롭게 제작하는 공간--------*/
.datail_free_img{
    position: relative;
    clear: both;
    width: 100%;
    height: 3000px;
    margin-top: 50px;
}
.free_img {
    position: relative;
    clear: both;
    width: 800px;
  
    margin: 0 auto;
    text-align: center;
}

/* 수평선-------------*/
.line_01 {
    position: relative;
    clear: both;
    width: 100%;
    height: 10px;
    background: url(../img/line_01.gif);
    background-repeat: repeat-x;
}

/*footer 전체 시작--------*/
.footer_all{
    display: flex;
    width: 75%;
    height: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    align-items: center;
    
}
.footer_all > div {
    height: 150px;
    color: #838383;
}
.footer_all > div:not(:last-child){
    border-right: 1px solid rgb(216, 216, 216);
    height: 70%;
    width: 20%;

}
.footer_logo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer_all > div:not(:nth-child(3)){
    padding-left: 15px;
}




/*게시판(그누보드) 설정 시작=========*/
.bbs_01{
    position: relative;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

